<footer class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div><a href="https://www.simonsfoundation.org/"><img src="/assets/img/footer/SimonsFoundation.png", class="footer-logo"></a> <a href="https://www.sfi.org.bm/"><img src="/assets/img/footer/SFI_Logo_FULL_RGB.png", class="footer-logo"></a></div>
  <div class="footer-description">This work is supported by the <a href="https://www.simonsfoundation.org/">Simons Foundation</a> and <a href="https://www.sfi.org.bm/">Simons Foundation International</a>.</div>
  <!-- <div class="footer-description"><a href="{{ site.github.url }}/">{{ site.description }}</a></div> -->
  
</footer>
