.footer {
  background: white;
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
}
.footer a {
  color: $brand-color;
  // padding: 0px 10px 0px;
  text-decoration: none;
}
@media (max-width: $container-width) {
  .footer {
    background: white;
    color: $brand-color;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}
.footer-description {
  display: inline-block;
  white-space: normal;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}
.footer-logo {
  display: inline-block;
  line-height: 0;
  margin: 0;
  padding: 0px 10px 0px;
  width: 200px;
  height: auto;
  vertical-align: middle;
  transition: opacity 0.2s ease;
}
.footer-logo:hover {
  opacity: 0.8;
}